<div>
  <div>
    <h1>
      List of all events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Event type
        </th>

        <th>
          Event date
        </th>

        <th>
          Event location
        </th>

        <th>
          Contact(s)
        </th>

        <th>
          User
        </th>

        <th>
          Intention
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td>
          <%= an_event.id %>
        </td>

        <td>
          <%= an_event.event_type %>
        </td>

        <td>
          <%= an_event.event_date %>
        </td>

        <td>
          <%= an_event.event_location %>
        </td>

        <td>
     
          <%= an_event.contacts.map { |contact| "#{contact.first_name} #{contact.last_name}" }.join(", ") %>
        </td>

        <td>
          <%= an_event.user_id %>
        </td>

        <td>
          <%= an_event.intention %>
        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
