<form action="/insert_event" method="post">
  <h2> Add a new event </h2>

    <div>
    <label for="event_type">Event type</label>
    <input type="text" id="event_type" name="query_event_type">
  </div>

  <div>
    <label for="event_date">Event date</label>
    <input type="date" id="event_date" name="query_event_date">
  </div>

  <div>
    <label for="event_location">Event location</label>
    <input type="text" id="event_location" name="query_event_location">
  </div>

  <div>
    <label for="query_user_id"></label>
    <input type="hidden" id="query_user_id" name="query_user_id" value="<%= current_user.id%>">
  </div>


  <div>
    <label for="intention">Purpose of meeting</label>
    <select id="intention" name="query_intention">
      <option value="Introduction">Introduction</option>
      <option value="Advice">Advice</option>
      <option value="Request">Request</option>
      <option value="Keeping in touch">Keeping in touch</option>
      <option value="Other">Other</option>
    </select>
  </div>

  <div>
    <label for="query_contact_ids">Select contacts</label>
    <select name="query_contact_ids[]" multiple>
      <% @all_contacts.each do |contact| %>
        <option value="<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></option>
      <% end %>
    </select>
  </div>

  <button type="submit">Create event</button>
</form>



<div>
  <div>
    <h1>
      List of all events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Event type
        </th>

        <th>
          Event date
        </th>

        <th>
          Event location
        </th>

        <th>
          Contact(s)
        </th>

        <th>
          User
        </th>

        <th>
          Intention
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td>
          <%= an_event.id %>
        </td>

        <td>
          <%= an_event.event_type %>
        </td>

        <td>
          <%= an_event.event_date %>
        </td>

        <td>
          <%= an_event.event_location %>
        </td>

        <td>
     
          <%= an_event.contacts.map { |contact| "#{contact.first_name} #{contact.last_name}" }.join(", ") %>
        </td>

        <td>
          <%= an_event.user_id %>
        </td>

        <td>
          <%= an_event.intention %>
        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
