
<div>
  
  <% if params[:email_generated].present? %>
    <div class="generated-email">
      <h3>Generated Email:</h3>
      <div class="email-preview">
        <% if @email.present? %>
          <%= simple_format(@email) %>
        <% else %>
          <p>No email generated yet.</p>
        <% end %>
      </div>
      
      <% if @the_event.contacts.any? %>
        <% recipient_email = @the_event.contacts.first.email %>
        <%= link_to "Compose Email", "mailto:#{recipient_email}?subject=#{CGI.escape('Thank You!')}&body=#{CGI.escape(@email)}", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>`


  <h1><%= @the_event.event_type %> details</h1>
  
  <div>
    <div>
      <a href="/events">Go back</a>
    </div>

    <div>
      <a href="/delete_event/<%= @the_event.id %>">Delete event</a>
    </div>
  </div>
<% if params[:email_generated].present? %>

  <div class="generated-email">
    <h3>Generated Email:</h3>
    <div class="email-preview">
      <%= simple_format(@email) %>
    </div>
    
    <% if @the_event.contacts.any? %>
      <% recipient_email = @the_event.contacts.first.email %>
      <%= link_to "Compose Email", "mailto:#{recipient_email}?subject=#{CGI.escape('Thank You!')}&body=#{CGI.escape(@email.to_s)}", class: "btn btn-primary" %>
    <% end %>
  </div>
<% else %>

  <div>
    <form action="/events/<%= @the_event.id %>" method="post">
      <%= csrf_meta_tags %>
      <div>
        <label for="user_content">Enter notes from the event here</label>
        <textarea id="user_content" name="user_content"></textarea>
      </div>
      <button type="submit">Submit to generate a thank you email</button>
    </form>
  </div>
<% end %>

  <dl>
    <dt>Event type</dt>
    <dd><%= @the_event.event_type %></dd>

    <dt>Event date</dt>
    <dd><%= @the_event.event_date %></dd>

    <dt>Event location</dt>
    <dd><%= @the_event.event_location %></dd>

    <dt>Contact(s)</dt>
    <dd>
      <%= @the_event.contacts.map { |contact| link_to("#{contact.first_name} #{contact.last_name}", "/contacts/#{contact.id}") }.join(", ").html_safe %>
    </dd>

    <dt>User</dt>
    <dd><%= @the_event.user_id %></dd>

    <dt>Intention</dt>
    <dd><%= @the_event.intention %></dd>

    <dt>Created at</dt>
    <dd><%= time_ago_in_words(@the_event.created_at) %> ago</dd>

    <dt>Updated at</dt>
    <dd><%= time_ago_in_words(@the_event.updated_at) %> ago</dd>
  </dl>

  <hr>

  <div>
    <h2>Edit event</h2>

    <form action="/modify_event/<%= @the_event.id %>" method="post">
      <%= csrf_meta_tags %>

      <div>
        <label for="event_type_box">Event type</label>
        <input type="text" id="event_type_box" name="query_event_type" value="<%= @the_event.event_type %>">
      </div>

      <div>
        <label for="event_date_box">Event date</label>
        <input type="date" id="event_date_box" name="query_event_date" value="<%= @the_event.event_date %>">
      </div>

      <div>
        <label for="event_location_box">Event location</label>
        <input type="text" id="event_location_box" name="query_event_location" value="<%= @the_event.event_location %>">
      </div>

      <div>
        <label for="contact_id_box">Contact(s)</label>
        <select id="contact_id_box" name="query_contact_ids[]" multiple>
          <% @all_contacts.each do |contact| %>
            <option value="<%= contact.id %>" <%= 'selected' if @the_event.contacts.include?(contact) %>>
              <%= "#{contact.first_name} #{contact.last_name}" %>
            </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="user_id_box">User</label>
        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_event.user_id %>">
      </div>

      <div>
        <label for="intention_box">Intention</label>
        <input type="text" id="intention_box" name="query_intention" value="<%= @the_event.intention %>">
      </div>

      <button type="submit">Update event</button>
    </form>
  </div>
</div>
