require 'openai'
client = OpenAI::Client.new(access_token: ENV['OPENAI_KEY'])
<div>
  <div>
    <h1>
      Event #<%= @the_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>

<div>
  <form action="/events/:path_id" method="post">
    <div>
      <label for="user_content">
        User Content
      </label>

  
      <input type="text" id="user_content" name="user_content">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>


user_content = params.fetch("user_content", "")

<%= client = OpenAI::Client.new(access_token: ENV.fetch("OPENAI_API_KEY")) %>
<% 
# Prepare an Array of previous messages
message_list = [
  {
    "role" => "system",
    "content" => "Draft a thank you email after networking with someone. You met with them via a format of #{@the_event.event_type}, their name is  #{@the_event.contacts.map { |contact| "#{contact.first_name} #{contact.last_name}" }.join(", ")}.The user will input some takeaways from the meeting. You want the tone to be friendly, but professional, acknowledging the user is likely not very close with the person. Emphasize WARMTH coming across. Keep it under one paragraph."
  },
  {
    "role" => "user",
    "content" => user_content
  }
]
# Call the API to get the next message from GPT
api_response = client.chat(
  parameters: {
    model: "gpt-3.5-turbo",
    messages: message_list
  }
)
%>
<%= api_response %>
<div style="height: 500px"></div>
</div>





    <dl>
      <dt>Event type</dt>
      <dd><%= @the_event.event_type %></dd>

      <dt>Event date</dt>
      <dd><%= @the_event.event_date %></dd>

      <dt>Event location</dt>
      <dd><%= @the_event.event_location %></dd>

      <dt>Contact(s)</dt>
      <dd>
        <%= @the_event.contacts.map { |contact| "#{contact.first_name} #{contact.last_name}" }.join(", ") %>
      </dd>

      <dt>User</dt>
      <dd><%= @the_event.user_id %></dd>

      <dt>Intention</dt>
      <dd><%= @the_event.intention %></dd>

      <dt>Created at</dt>
      <dd><%= time_ago_in_words(@the_event.created_at) %> ago</dd>

      <dt>Updated at</dt>
      <dd><%= time_ago_in_words(@the_event.updated_at) %> ago</dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Edit event</h2>

    <form action="/modify_event/<%= @the_event.id %>" method="post">

      <%= csrf_meta_tags %>

      <div>
        <label for="event_type_box">Event type</label>
        <input type="text" id="event_type_box" name="query_event_type" value="<%= @the_event.event_type %>">
      </div>

      <div>
        <label for="event_date_box">Event date</label>
        <input type="date" id="event_date_box" name="query_event_date" value="<%= @the_event.event_date %>">
      </div>

      <div>
        <label for="event_location_box">Event location</label>
        <input type="text" id="event_location_box" name="query_event_location" value="<%= @the_event.event_location %>">
      </div>

      <div>
        <label for="contact_id_box">Contact(s)</label>
        <select id="contact_id_box" name="query_contact_ids[]" multiple>
          <% @all_contacts.each do |contact| %>
            <option value="<%= contact.id %>" <%= 'selected' if @the_event.contacts.include?(contact) %>>
              <%= "#{contact.first_name} #{contact.last_name}" %>
            </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="user_id_box">User</label>
        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_event.user_id %>">
      </div>

      <div>
        <label for="intention_box">Intention</label>
        <input type="text" id="intention_box" name="query_intention" value="<%= @the_event.intention %>">
      </div>

      <button type="submit">Update event</button>
    </form>
  </div>
</div>

<hr>
