<!DOCTYPE html>
<html>
  <head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>irma</title>
    <a href="/">
      <%= image_tag "irmatext.png", alt: "irma" %>
    </a>
  </div>
<a href="/events">Events</a>
<a href="/contacts">Contacts</a>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>

    <%if current_user != nil%>
      <%p current_user%>
      <a href="/users/sign_out" data-method="get" rel="nofollow">Sign out</a>

      <a href="/users/edit">Edit</a>
    <%elsif current_user == nil%>
      <%=p current_user%>
      <a href="/users/sign_up">Sign up</a>
      <a href="/users/sign_in">Sign in</a>
    <%else%>
      <%=p current_user%>
    <%end%>  
      <a href="/">Home</a>
    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
